<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Form</title>
    <link rel="stylesheet" href="{% static 'style4.css' %}">
</head>
<body>
    <main>
        <header>
            <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Shift</h1>
        </header>
        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Save</button>
                <a href="{% url 'shift_list' %}" class="button button2">Cancel</a>
            </form>
        </section>
    </main>
</body>
</html>
